/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-bg-color: #ffffff;
  --main-text-color: #000000;
  --button-bg-color: #498268;
}

body {
  color: var(--main-text-color);
  font-size: 16px;
  font-family: "Arial", sans-serif;
  background: var(--main-bg-color);
}

.wrapper {
  border-bottom: 1px solid var(--main-text-color);
  padding-bottom: 2em;
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
  max-width: 600px;
}

.ttl {
  position: absolute;
  left: 0;
  top: 0;
}

.ttr {
  position: absolute;
  right: 0;
  top: 0;
}

.tbl {
  position: absolute;
  left: 0;
  bottom: 0;
}

.tbr {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.5em;
  }
  .wrapper {
    margin: 0 auto;
  }
}

header .links {
  text-align: center;
  padding-top: 1em;
}

header .link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-left: 1.25em;
  margin-bottom: 1em;
  line-height: 1;
  font-size: 0.75em;
}

header .lang {
  border: 1px solid var(--main-text-color);
  padding: 0.5em;
  border-radius: 50%;
  text-decoration: none;
}

header .link:first-of-type {
  margin-left: 0;
}

header .link:last-of-type {
  margin-top: 2em;
}

@media screen and (min-width: 600px) {
  header .link {
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }

  header .link:last-of-type {
    margin-top: 0.5em;
  }
}

header .logo {
  width: 100%;
}

header .wrapper {
  text-align: center;
  margin-bottom: 1em;
}

header .tbl,
header .tbr {
  bottom: 1em;
}

a {
  color: var(--main-text-color);
}

nav {
  text-transform: uppercase;
  font-size: 0.75em;
}

nav a {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 700px) {
  header nav {
    margin-bottom: 2em;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-size: 1.5em;
}

h3 {
  font-size: 3.25em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1;
}

p {
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 0.75em;
}

.subheader {
  text-align: center;
}

.subheader h2 {
  line-height: 1.1;
  margin-bottom: 0.5em;
  margin-top: 0.75em;
}

.subheader h2 + p {
  font-size: 1.5em;
  margin: 0.75em;
}

.button {
  color: var(--main-bg-color);
  background-color: var(--button-bg-color);
  text-decoration: none;
  display: block;
  padding: 1.365em 2em;
  font-size: 1.375em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

.button + p {
  font-size: 0.75em;
  text-transform: uppercase;
  text-align: center;
}

.about h4 {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 1.75em;
  margin: 0.75rem 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.help ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -2em;
}

.help li {
  border-top: 1px solid var(--main-text-color);
  width: 49%;
  padding-top: 0.425em;
  overflow-wrap: break-word;
}

.help h5 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 0.75em;
}

.help li p {
  font-size: 0.875em;
}

.faq .wrapper {
  padding: 5rem 0;
}

.faq .content {
  display: block;
  border: 1px solid var(--main-text-color);
  border-radius: 7em;
  padding: 1.5rem 4em;
  text-align: center;
  text-decoration: none;
}

.faq h3 {
  font-size: 2.625em;
}

.faq .tbl,
.faq .tbr {
  bottom: 2em;
}

.faq .ttl,
.faq .ttr {
  top: 2em;
}

.team ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team li {
  width: 49%;
}

.team h5 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}

.press ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.press li {
  border: 1px solid var(--main-text-color);
  width: 49%;
  margin-bottom: 0.5em;
}

.press a {
  display: block;
  padding: 2em;
}

.press img {
  margin: 0 auto;
}

footer .wrapper {
  border-bottom: 0;
  display: flex;
  padding-top: 0.25em;
}

footer .logo {
  display: inline-block;
  position: relative;
  top: 4px;
}

@media screen and (min-width: 600px) {
  footer .logo {
    height: 30px;
    top: 7px;
  }
}

footer .copy {
  flex: 1;
}

footer .link {
  text-transform: uppercase;
  margin-left: 2em;
  line-height: 1;
  font-size: 0.75em;
}
